
  
body {
 
background-image: url("./contact.jpg");

 
  
 background-size: cover;
 background-repeat: no-repeat center fixed;
 background-color: #cccccc;

}


	
#logo { 
         
background: url("./logo1.jpg") no-repeat; 
         width: 120px; 
	height :120px;
         position: absolute;
         
         
	top: 01%;
	left: 82%;

}


h1{


   	font-family: 'Roboto', sans-serif;
   
   	text-align:center;
   
   	
   	padding-top: 0px;
   	font-size: 40px;
   	
	color: #0E760B ;
          

            text-transform: uppercase;
letter-spacing: 03px;


}





input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;

  
  box-sizing: border-box;
  solid #73AD21;
  border-radius: 15px;
}

input[type=button] {
  width: 100%;
  background-color: green ;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

input[type=button]:hover {
  background-color: #45a049;


}
   









/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; 
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: green;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding: 0px;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 30px;
  color: white;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: green;
  color: white;
  padding: 10px 15px;
  border: none;


}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}







