
  
body {
 
background-image: url("./contact.jpg");

 
  
 background-size: cover;
 background-repeat: no-repeat center fixed;
 background-color: #cccccc;

}


	
#logo { 
         
background: url("./logo1.jpg") no-repeat; 
         width: 120px; 
	height :120px;
         position: absolute;
         
         
	top: 01%;
	left: 82%;

}


h1{


   	font-family: 'Roboto', sans-serif;
   
   	text-align:center;
   
   	
   	padding-top: 0px;
   	font-size: 50px;
   	
	color: #0E760B ;
          

            text-transform: uppercase;
letter-spacing: 03px;


}


p{
font-family: 'Roboto', sans-serif;
   
   	text-align:center;
   font-weight:bold;
   	
   	padding-top: 0px;
   	font-size: 20px;
   	
	color: blue ;
          

            
letter-spacing: 01px;
}









/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; 
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: green;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding: 0px;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 30px;
  color: white;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: green;
  color: white;
  padding: 10px 15px;
  border: none;


}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}


* {
  box-sizing: border-box;
}

/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 12.5%;

  padding: 10px;}

/* Style the images inside the grid */
.column img {
  opacity: 0.8;
  cursor: pointer;
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.container {
  position: relative;
  display: none;
}

#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: green;
  font-size: 40px;
  cursor: pointer;
}






/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}


@media screen and (max-width: 601px) {

body {
 
background-image: url("./m1.jpg");
 background-size: cover;
 background-repeat: no-repeat center fixed;
 background-color: #cccccc;
 
}

#logo { 
         
background: url("./logos.jpg") no-repeat; 
         width: 60px; 
	height :60px;
         position: absolute;
         
         
	top: 03%;
	left: 73%;

}

h1{


   	font-family: 'Roboto', sans-serif;
   
   	text-align:center;
   
   	color: #0E760B ;
   	padding-top: 110px;
   	font-size: 23px;
   	font-weight: bold;
	background-color: green;
            background-repeat: repeat;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
	position: absoliute;
	
text-transform: uppercase;



}



p{


   font-family: 'Roboto', sans-serif;
   
   text-align:center;
   
   color: #0E760B ;
   padding-top: 10px;
   font-size: 12px;
   font-weight: bold;
background-color: green;
            background-repeat: repeat;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
text-transform: uppercase;




}
.column {
  float: left;
  width: 25%;

  padding: 10px;}


}

